body {
    height: calc(100vh - 80px);
    margin: 40px 0;
    font-family: 'Nunito' , sans-serif;
    background-color: rgb(252, 248, 245);
}

.desc,
.winner,
.tie,
.restart {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winner,
.tie,
.restart {
    display: none;
}

.desc span,
.winner span {
    padding: 0 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid red;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}


.content {
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.line {
    display: flex;
}

.line div {
    border-right: 4px solid black;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    
}

.line2 {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.line div:last-child {
    border-right: 0;
}

.x {
    color: rgb(145, 13, 13);
}

.o {
    color: rgb(21, 21, 165);
}

.player.x {
    border-color: rgb(145, 13, 13);    
}

.player.o {
    border-color: rgb(21, 21, 165);
}
.color.x {
    background-color: rgba(255, 0 ,0 ,0.2)
}
.color.o {
    background-color: rgba(0, 140, 255, 0.2)
}

button {
    background-color: hsla(200, 80%, 50%, 1);
    color: white;
    border: none;
    height: 30px;
    width: 90px;
    font-size: 18px;
    border-radius: 4px;
}